.link
    text-transform: uppercase
    &_white
        color: #FFFFFF
        font-weight: 500
        font-size: 16px
        line-height: 25px
        &:hover
            color: #ffffff
    &_red
        color: #FF0000
        &:hover
            color: #FF0000
    &_detail
        display: block
        margin-top: 17px
        color: $main-color
        font-size: 14px
        font-weight: 500
        text-decoration: underline
        text-align: center
        &:hover
            color: $main-color
    &_back
        position: absolute
        bottom: 0
        left: 50%
        transform: translateX(calc(-50% - 19px))
        display: block
        color: $main-color
        font-size: 14px
        font-weight: 500
        text-decoration: underline
        &:hover
            color: $main-color